/* Stile del body */
body {
    background-image: url('dashboard-background-sx.jpg');
    background-size: cover; /* L'immagine copre l'intera area del background */
    background-position: center; /* L'immagine è posizionata al centro */
    height: 100vh; /* Altezza del background pari all'altezza della finestra del browser */
    font-family: Arial, sans-serif; /* Imposta il font predefinito */
    margin: 0; /* Rimuove i margini predefiniti */
    padding: 0; /* Rimuove il padding predefinito */
}

/* Stile del contenitore principale */
.cover-container {
    display: flex; /* Utilizza il layout flessibile */
    flex-direction: column; /* I figli sono disposti in colonna */
    justify-content: center; /* Centra il contenuto verticalmente */
    align-items: center; /* Centra il contenuto orizzontalmente */
    height: 100vh; /* Altezza pari all'altezza del viewport */
    padding: 20px; /* Aggiunge spazio interno */
    border-radius: 20px; /* Bordi arrotondati */
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo traslucido */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ombra */
}


/* Stile dell'header */
header {
    margin-bottom: 20px; /* Aggiunge spazio inferiore */
}

/* Stile dell'h1 */
h1 {
    color: #ffffff; /* Colore del testo bianco */
    font-family: 'Arial', sans-serif; /* Font Arial */
    font-size: 48px; /* Dimensione del font */
    text-align: center; /* Allinea il testo al centro */
    margin-top: 30px; /* Aggiunge spazio superiore */
}

/* Stile del menu di navigazione */
.navbar {
    background-color: rgba(255, 255, 255, 0.5); /* Sfondo traslucido */
    padding: 20px 0; /* Aumenta lo spazio interno sopra e sotto */
    border-radius: 20px; /* Bordi arrotondati */
    height: 80px; /* Altezza del menu */
}


.navbar-nav {
    margin: auto; /* Centra gli elementi del menu orizzontalmente */
}

.navbar-nav .nav-link {
    font-size: 18px; /* Dimensione del font */
    color: #000000; /* Colore del testo nero */
    text-transform: uppercase; /* Testo in maiuscolo */
    padding: 10px 20px; /* Spazio interno */
    transition: color 0.3s; /* Transizione del colore al passaggio del mouse */
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #ffffff; /* Cambia il colore del testo al passaggio del mouse */
    text-decoration: none; /* Rimuove il sottolineato */
}

/* Stile per il menu attivo */
.navbar-nav .nav-item.active .nav-link {
    font-weight: bold; /* Testo in grassetto per il menu attivo */
}
