/* Stile del body */
body {
    background-image: url('dashboard-background-sx.jpg');
    background-size: cover; /* L'immagine copre l'intera area del background */
    background-position: center; /* L'immagine è posizionata al centro */
    height: 100vh; /* Altezza del background pari all'altezza della finestra del browser */
    font-family: Arial, sans-serif; /* Imposta il font predefinito */
    margin: 0; /* Rimuove i margini predefiniti */
    padding: 0; /* Rimuove il padding predefinito */
}

/* Stile del contenitore principale */
.cover-container {
    display: flex; /* Utilizza il layout flessibile */
    flex-direction: column; /* I figli sono disposti in colonna */
    justify-content: center; /* Centra il contenuto verticalmente */
    align-items: center; /* Centra il contenuto orizzontalmente */
    height: 100vh; /* Altezza pari all'altezza del viewport */
    border-radius: 20px; /* Bordi arrotondati */
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo traslucido */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ombra */
}

/* Stile dell'h1 */
h1 {
    color: #ffffff; /* Colore del testo bianco */
    font-family: 'Arial', sans-serif; /* Font Arial */
    font-size: 48px; /* Dimensione del font */
    text-align: center; /* Allinea il testo al centro */
    margin-top: 30px; /* Aggiunge spazio superiore */
}


/* Stile del menu di navigazione */
.navbar {
    background-color: rgba(255, 255, 255, 0.5); /* Sfondo traslucido */
    padding: 50px 0; /* Aumenta lo spazio interno sopra e sotto */
    border-radius: 30px; /* Bordi arrotondati */
    height: 80px; /* Altezza del menu */
}


.navbar-nav {
    display: flex; /* Utilizza il layout flessibile */
    justify-content: center; /* Centra gli elementi del menu orizzontalmente */
    align-items: center; /* Centra gli elementi del menu verticalmente */
    list-style: none; /* Rimuove i puntini dalla lista */
    text-align: center; /* Centra il testo orizzontalmente */
}


.navbar-nav .nav-link {
    margin: 0 10px; /* Aggiunge spazio orizzontale tra le voci di menu */
    font-size: 24px; /* Dimensione del font */
    color: #000000; /* Colore del testo nero */
    text-transform: uppercase; /* Testo in maiuscolo */
    padding: 10px 60px; /* Spazio interno */
    transition: color 0.3s; /* Transizione del colore al passaggio del mouse */
    text-decoration: none; /* Rimuove la sottolineatura */
}


.navbar-nav .nav-link:focus {
    color: #ffffff; /* Cambia il colore del testo al passaggio del mouse */
    text-decoration: none; /* Rimuove il sottolineato */
}

.navbar-nav .nav-link .bi {
    font-size: 24px; /* Imposta la dimensione delle icone */
    vertical-align: middle; /* Allinea verticalmente le icone al testo */
    margin-right: 10px; /* Aggiunge uno spazio a destra tra l'icona e il testo */
}
